<%= stylesheet_link_tag 'header' %>

<nav class="navbar navbar-expand-lg navbar-light p-3">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <%= link_to "Cantrol Cosme", root_path %>
    </ul>
    <ul class="navbar-nav ms-auto">
      <%= link_to "会員登録", signup_path %>
    </ul>
  </div>
</nav>