<%= stylesheet_link_tag 'footer' %>

<footer class="text-center fixed-bottom">
  <div class="text-center p-3">
    <%= link_to "利用規約", "#", class:"mx-5" %>
    <%= link_to "プライバシーポリシー", "#", class:"mx-5" %>
    <%= link_to "お問合せ", "#", class:"mx-5" %>
  </div>
</footer>